upvy-content-generator/n8n-workflows/content-generator.json
{
  "id": "upvy-ai-content-generator",
  "name": "Upvy AI Content Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "language",
              "type": "stringValue",
              "stringValue": "en"
            }
          ]
        },
        "options": {}
      },
      "id": "set-manual-lang",
      "name": "Set Manual Language",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "trigger-en",
      "name": "Schedule EN (5/day)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 13
            },
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "trigger-ja",
      "name": "Schedule JA (3/day)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 14
            },
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "trigger-ko",
      "name": "Schedule KO (3/day)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "language",
              "type": "stringValue",
              "stringValue": "en"
            }
          ]
        },
        "options": {}
      },
      "id": "set-lang-en",
      "name": "Set Language EN",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "language",
              "type": "stringValue",
              "stringValue": "ja"
            }
          ]
        },
        "options": {}
      },
      "id": "set-lang-ja",
      "name": "Set Language JA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "language",
              "type": "stringValue",
              "stringValue": "ko"
            }
          ]
        },
        "options": {}
      },
      "id": "set-lang-ko",
      "name": "Set Language KO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "category",
              "type": "stringValue",
              "stringValue": "={{ ['PROGRAMMING', 'SCIENCE', 'LANGUAGE', 'BUSINESS', 'PSYCHOLOGY', 'HEALTH'][Math.floor(Math.random() * 6)] }}"
            },
            {
              "name": "difficulty",
              "type": "stringValue",
              "stringValue": "={{ ['BEGINNER', 'INTERMEDIATE', 'ADVANCED'][Math.floor(Math.random() * 3)] }}"
            },
            {
              "name": "jobId",
              "type": "stringValue",
              "stringValue": "={{ $now.format('yyyyMMddHHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst fs = require('fs');\n\n// Service Account JSON 읽기\nconst sa = JSON.parse(fs.readFileSync('/credentials/gcp-key.json', 'utf8'));\n\n// JWT Header\nconst header = Buffer.from(JSON.stringify({\n  alg: 'RS256',\n  typ: 'JWT'\n})).toString('base64url');\n\n// JWT Claim\nconst now = Math.floor(Date.now() / 1000);\nconst claim = Buffer.from(JSON.stringify({\n  iss: sa.client_email,\n  scope: 'https://www.googleapis.com/auth/cloud-platform',\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600\n})).toString('base64url');\n\n// Sign with RSA-SHA256\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(`${header}.${claim}`);\nconst signature = sign.sign(sa.private_key, 'base64url');\n\nconst jwt = `${header}.${claim}.${signature}`;\n\nreturn { json: { ...$input.first().json, gcpJwt: jwt } };"
      },
      "id": "gcp-jwt",
      "name": "Generate GCP JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.gcpJwt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gcp-token",
      "name": "Get GCP Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const tokenResponse = $input.first().json;\nconst prevData = $('Generate GCP JWT').first().json;\nreturn { json: { ...prevData, gcpAccessToken: tokenResponse.access_token } };"
      },
      "id": "merge-token",
      "name": "Merge Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.VERTEX_AI_LOCATION }}-aiplatform.googleapis.com/v1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.VERTEX_AI_LOCATION }}/publishers/google/models/gemini-2.5-flash-lite:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.gcpAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\"role\": \"user\",\n    \"parts\": [{\n      \"text\": \"당신은 교육 콘텐츠 기획자입니다.\\n\\n[검색 기반 분석 요청]\\n1. \\\"{{ $json.category }}\\\" 분야에서 최근 인기 있는 교육 주제 검색\\n2. 숏폼 영상(30-60초)으로 만들기 좋은 주제 3개 제안\\n3. 각 주제의 바이럴 가능성과 교육적 가치 평가\\n\\n난이도: {{ $json.difficulty }}\\n언어: {{ $json.language }}\\n\\n[출력 형식 - JSON만 출력]\\n{\\n  \\\"topics\\\": [\\n    {\\n      \\\"title\\\": \\\"주제 제목\\\",\\n      \\\"hook\\\": \\\"시청자 관심 끄는 첫 문장\\\",\\n      \\\"keyPoints\\\": [\\\"핵심1\\\", \\\"핵심2\\\", \\\"핵심3\\\"],\\n      \\\"viralScore\\\": 85,\\n      \\\"educationalScore\\\": 90\\n    }\\n  ]\\n}\"\n    }]\n  }],\n  \"tools\": [{\n    \"googleSearch\": {}\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 2048\n  }\n}",
        "options": {}
      },
      "id": "topic-select",
      "name": "1. Topic Select (Gemini + Grounding)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// JSON 추출: 여러 방법 시도\nlet jsonStr = text;\n\n// 1. markdown 코드블록 제거\njsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n\n// 2. JSON 객체 찾기 (첫 번째 { 부터 마지막 } 까지)\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\ntry {\n  const parsed = JSON.parse(jsonStr);\n  const topics = parsed.topics || [];\n  const bestTopic = topics.sort((a, b) => \n    (b.viralScore + b.educationalScore) - (a.viralScore + a.educationalScore)\n  )[0];\n  \n  if (!bestTopic) throw new Error('주제를 찾을 수 없습니다');\n  \n  return { json: { ...$input.first().json, selectedTopic: bestTopic, allTopics: topics } };\n} catch (e) {\n  throw new Error(`주제 파싱 실패: ${e.message}\\n원본: ${text.substring(0, 200)}...`);\n}"
      },
      "id": "parse-topic",
      "name": "Parse Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.VERTEX_AI_LOCATION }}-aiplatform.googleapis.com/v1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.VERTEX_AI_LOCATION }}/publishers/google/models/gemini-2.5-flash-lite:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Token').first().json.gcpAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\"role\": \"user\",\n    \"parts\": [{\n      \"text\": \"당신은 교육용 숏폼 콘텐츠 전문 작가입니다.\\n30-60초 분량의 세로형(9:16) 영상 스크립트와 퀴즈를 작성합니다.\\n\\n=== 스크립트 규칙 ===\\n1. Hook (0-5초): 시청자 관심 끄는 질문/충격적 사실\\n2. Core (5-50초): 핵심 내용 전달 (3개 이하 포인트)\\n3. CTA (50-60초): 행동 유도\\n\\n형식 규칙:\\n- 한 문장은 15단어 이내\\n- 전문용어는 즉시 설명\\n- 친근한 말투\\n\\n=== 퀴즈 규칙 ===\\n1. 스크립트의 핵심 개념 확인 문제 1개\\n2. 4개 선택지 (정답 1개 + 오답 3개)\\n\\n[주제 정보]\\n제목: {{ $json.selectedTopic.title }}\\nHook: {{ $json.selectedTopic.hook }}\\n핵심: {{ $json.selectedTopic.keyPoints.join(', ') }}\\n난이도: {{ $json.difficulty }}\\n언어: {{ $json.language }}\\n\\n[출력 형식 - JSON만 출력]\\n{\\n  \\\"script\\\": {\\n    \\\"title\\\": \\\"영상 제목\\\",\\n    \\\"description\\\": \\\"영상 설명 (200자)\\\",\\n    \\\"totalDuration\\\": 60,\\n    \\\"sections\\\": [\\n      {\\n        \\\"type\\\": \\\"HOOK\\\",\\n        \\\"startTime\\\": 0,\\n        \\\"endTime\\\": 5,\\n        \\\"narration\\\": \\\"나레이션 텍스트\\\",\\n        \\\"visualCue\\\": \\\"비주얼 설명\\\"\\n      }\\n    ],\\n    \\\"tags\\\": [\\\"태그1\\\", \\\"태그2\\\"]\\n  },\\n  \\\"quiz\\\": {\\n    \\\"question\\\": \\\"퀴즈 질문\\\",\\n    \\\"options\\\": [\\n      {\\\"text\\\": \\\"선택지1\\\", \\\"isCorrect\\\": true},\\n      {\\\"text\\\": \\\"선택지2\\\", \\\"isCorrect\\\": false},\\n      {\\\"text\\\": \\\"선택지3\\\", \\\"isCorrect\\\": false},\\n      {\\\"text\\\": \\\"선택지4\\\", \\\"isCorrect\\\": false}\\n    ]\\n  },\\n  \\\"qualityCheck\\\": {\\n    \\\"verdict\\\": \\\"PASS\\\",\\n    \\\"reason\\\": \\\"품질 검토 이유\\\"\\n  }\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 4096\n  }\n}",
        "options": {}
      },
      "id": "script-quiz-gen",
      "name": "2. Script + Quiz Gen (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// JSON 추출: 여러 방법 시도\nlet jsonStr = text;\n\n// 1. markdown 코드블록 제거\njsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n\n// 2. JSON 객체 찾기 (첫 번째 { 부터 마지막 } 까지)\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\ntry {\n  const parsed = JSON.parse(jsonStr);\n  if (!parsed.script || !parsed.quiz || !parsed.qualityCheck) throw new Error('필수 필드 누락');\n  \n  return {\n    json: {\n      ...$input.first().json,\n      script: parsed.script,\n      quiz: parsed.quiz,\n      qualityCheck: parsed.qualityCheck,\n      totalDuration: parsed.script.totalDuration || 60\n    }\n  };\n} catch (e) {\n  throw new Error(`스크립트 파싱 실패: ${e.message}\\n원본: ${text.substring(0, 200)}...`);\n}"
      },
      "id": "parse-script",
      "name": "Parse Script + Quiz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quality-check",
              "leftValue": "={{ $json.qualityCheck.verdict }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "quality-gate",
      "name": "3. Quality Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.VERTEX_AI_LOCATION }}-aiplatform.googleapis.com/v1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.VERTEX_AI_LOCATION }}/publishers/google/models/imagen-3.0-generate-002:predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Token').first().json.gcpAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [{\n    \"prompt\": \"Abstract educational concept illustration about {{ $json.selectedTopic.title }}. Style: modern minimalist flat design, vibrant gradient colors, geometric shapes, icons and symbols. Vertical 9:16 format. NO people, NO human figures, NO faces, NO children. Only abstract graphics and icons.\"\n  }],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"aspectRatio\": \"9:16\",\n    \"safetyFilterLevel\": \"block_only_high\",\n    \"personGeneration\": \"dont_allow\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "visual-gen",
      "name": "4a. Visual Gen (Imagen 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Token').first().json.gcpAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"text\": \"{{ $json.script.sections.map(s => s.narration).join(' ') }}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"{{ $json.language === 'en' ? 'en-US' : ($json.language === 'ja' ? 'ja-JP' : 'ko-KR') }}\",\n    \"name\": \"{{ $json.language === 'en' ? 'en-US-Wavenet-D' : ($json.language === 'ja' ? 'ja-JP-Wavenet-A' : 'ko-KR-Wavenet-A') }}\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"MP3\",\n    \"speakingRate\": 1.1\n  }\n}",
        "options": {}
      },
      "id": "tts-gen",
      "name": "4b. TTS (Google Cloud)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\nconst visualResponse = $('4a. Visual Gen (Imagen 3)').first().json;\n\n// fullResponse 형식 처리\nconst body = visualResponse.body || visualResponse;\nconst imageBase64 = body.predictions?.[0]?.bytesBase64Encoded;\n\nif (!imageBase64) {\n  throw new Error('이미지 생성 실패: ' + JSON.stringify(body));\n}\n\nreturn {\n  json: { ...prevData },\n  binary: {\n    image: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: 'visual.png'\n    }\n  }\n};"
      },
      "id": "convert-visual",
      "name": "Convert Visual to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst prevContext = $('Parse Script + Quiz').first().json;\nconst audioBase64 = item.json.audioContent;\n\nif (!audioBase64) throw new Error('TTS 응답에 audioContent가 없습니다');\n\nreturn {\n  json: { ...prevContext },\n  binary: {\n    data: {\n      data: audioBase64,\n      mimeType: 'audio/mp3',\n      fileName: 'narration.mp3'\n    }\n  }\n};"
      },
      "id": "prepare-audio",
      "name": "Prepare Audio Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-visual-audio",
      "name": "Merge Visual + Audio",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2860,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst jsonData = items[0]?.json || {};\n\nlet combinedBinary = {};\nfor (const item of items) {\n  if (item.binary) {\n    combinedBinary = { ...combinedBinary, ...item.binary };\n  }\n}\n\nreturn { json: jsonData, binary: combinedBinary };"
      },
      "id": "combine-binaries",
      "name": "Combine Binaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://compose-service:8084/api/v1/compose-with-thumbnail",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "clips",
              "inputDataFieldName": "image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "metadata",
              "value": "={{ JSON.stringify({ title: $json.script.title, watermark: true, language: $json.language, subtitles: $json.script.sections.map(s => ({ start: s.startTime, end: s.endTime, text: s.narration })) }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "compose",
      "name": "5. Compose (FFmpeg)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const JSZip = require('jszip');\n\nconst item = $input.first();\nconst zipBinary = item.binary?.data;\n\nif (!zipBinary) throw new Error('ZIP 응답이 없습니다');\n\nconst zipBuffer = Buffer.from(zipBinary.data, 'base64');\nconst zip = await JSZip.loadAsync(zipBuffer);\n\nconst videoFile = zip.file('video.mp4');\nif (!videoFile) throw new Error('ZIP에 video.mp4가 없습니다');\nconst videoBase64 = await videoFile.async('base64');\n\nconst thumbnailFile = zip.file('thumbnail.jpg');\nif (!thumbnailFile) throw new Error('ZIP에 thumbnail.jpg가 없습니다');\nconst thumbnailBase64 = await thumbnailFile.async('base64');\n\nconst prevContext = $('Combine Binaries').first().json;\n\nreturn {\n  json: { ...prevContext, composedAt: new Date().toISOString() },\n  binary: {\n    video: { data: videoBase64, mimeType: 'video/mp4', fileName: 'final.mp4' },\n    thumbnail: { data: thumbnailBase64, mimeType: 'image/jpeg', fileName: 'thumbnail.jpg' }\n  }\n};"
      },
      "id": "unzip-response",
      "name": "Unzip Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET }}",
        "fileName": "=generated/{{ $json.jobId }}/final.mp4",
        "binaryPropertyName": "video"
      },
      "id": "s3-upload-video",
      "name": "S3 Upload Video",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        3740,
        100
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET }}",
        "fileName": "=generated/{{ $json.jobId }}/thumbnail.jpg",
        "binaryPropertyName": "thumbnail"
      },
      "id": "s3-upload-thumbnail",
      "name": "S3 Upload Thumbnail",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        3740,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-s3-results",
      "name": "Merge S3 Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3960,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst prevContext = $('Unzip Response').first().json;\n\nconst s3Region = $env.AWS_REGION || 'ap-northeast-2';\nconst s3Bucket = $env.S3_BUCKET;\n\nconst videoUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/generated/${prevContext.jobId}/final.mp4`;\nconst thumbnailUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/generated/${prevContext.jobId}/thumbnail.jpg`;\n\nreturn {\n  json: {\n    ...prevContext,\n    videoUrl,\n    thumbnailUrl,\n    s3Key: `generated/${prevContext.jobId}/final.mp4`,\n    thumbnailS3Key: `generated/${prevContext.jobId}/thumbnail.jpg`\n  }\n};"
      },
      "id": "set-s3-urls",
      "name": "Set S3 URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.UPVY_API_URL }}/api/v1/contents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.script.title }}\",\n  \"description\": \"{{ $json.script.description }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"tags\": {{ JSON.stringify($json.script.tags) }},\n  \"language\": \"{{ $json.language }}\",\n  \"videoUrl\": \"{{ $json.videoUrl }}\",\n  \"thumbnailUrl\": \"{{ $json.thumbnailUrl }}\",\n  \"duration\": {{ $json.totalDuration || 60 }},\n  \"width\": 1080,\n  \"height\": 1920,\n  \"quiz\": {{ JSON.stringify($json.quiz) }}\n}",
        "options": {}
      },
      "id": "upvy-publish",
      "name": "6a. Upvy Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"title\": \"{{ $json.script.title }}\",\n    \"description\": \"{{ $json.script.description }}\\n\\n#Shorts #교육 #{{ $json.category }}\",\n    \"tags\": {{ JSON.stringify([...$json.script.tags, 'Shorts', '교육']) }},\n    \"categoryId\": \"27\",\n    \"defaultLanguage\": \"{{ $json.language }}\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"selfDeclaredMadeForKids\": false\n  }\n}",
        "options": {}
      },
      "id": "youtube-publish",
      "name": "6b. YouTube Shorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_USER_ID }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"REELS\",\n  \"video_url\": \"{{ $json.videoUrl }}\",\n  \"caption\": \"{{ $json.script.title }}\\n\\n{{ $json.script.description }}\\n\\n#{{ $json.script.tags.join(' #') }}\"\n}",
        "options": {}
      },
      "id": "instagram-publish",
      "name": "6c. Instagram Reels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ *AI 콘텐츠 생성 완료*\n\n*Job ID:* {{ $json.jobId }}\n*제목:* {{ $json.script.title }}\n*언어:* {{ $json.language }}\n*카테고리:* {{ $json.category }}\n\n*S3:*\n• Video: {{ $json.videoUrl }}\n• Thumbnail: {{ $json.thumbnailUrl }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-success",
      "name": "Telegram - Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4620,
        200
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ *AI 콘텐츠 생성 스킵*\n\n*Job ID:* {{ $json.jobId }}\n*사유:* 품질 검사 실패\n\n*품질 검토:*\n{{ $json.qualityCheck?.reason || 'N/A' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-failure",
      "name": "Telegram - Quality Fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        500
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Manual Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Manual Language": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule EN (5/day)": {
      "main": [
        [
          {
            "node": "Set Language EN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule JA (3/day)": {
      "main": [
        [
          {
            "node": "Set Language JA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule KO (3/day)": {
      "main": [
        [
          {
            "node": "Set Language KO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Language EN": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Language JA": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Language KO": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Generate GCP JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate GCP JWT": {
      "main": [
        [
          {
            "node": "Get GCP Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GCP Access Token": {
      "main": [
        [
          {
            "node": "Merge Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Token": {
      "main": [
        [
          {
            "node": "1. Topic Select (Gemini + Grounding)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Topic Select (Gemini + Grounding)": {
      "main": [
        [
          {
            "node": "Parse Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topic": {
      "main": [
        [
          {
            "node": "2. Script + Quiz Gen (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Script + Quiz Gen (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Script + Quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script + Quiz": {
      "main": [
        [
          {
            "node": "3. Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Quality Gate": {
      "main": [
        [
          {
            "node": "4a. Visual Gen (Imagen 3)",
            "type": "main",
            "index": 0
          },
          {
            "node": "4b. TTS (Google Cloud)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Quality Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Visual Gen (Imagen 3)": {
      "main": [
        [
          {
            "node": "Convert Visual to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. TTS (Google Cloud)": {
      "main": [
        [
          {
            "node": "Prepare Audio Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Visual to Binary": {
      "main": [
        [
          {
            "node": "Merge Visual + Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio Binary": {
      "main": [
        [
          {
            "node": "Merge Visual + Audio",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Visual + Audio": {
      "main": [
        [
          {
            "node": "Combine Binaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Binaries": {
      "main": [
        [
          {
            "node": "5. Compose (FFmpeg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Compose (FFmpeg)": {
      "main": [
        [
          {
            "node": "Unzip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip Response": {
      "main": [
        [
          {
            "node": "S3 Upload Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "S3 Upload Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Video": {
      "main": [
        [
          {
            "node": "Merge S3 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Thumbnail": {
      "main": [
        [
          {
            "node": "Merge S3 Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge S3 Results": {
      "main": [
        [
          {
            "node": "Set S3 URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set S3 URLs": {
      "main": [
        [
          {
            "node": "6a. Upvy Publish",
            "type": "main",
            "index": 0
          },
          {
            "node": "6b. YouTube Shorts",
            "type": "main",
            "index": 0
          },
          {
            "node": "6c. Instagram Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6a. Upvy Publish": {
      "main": [
        [
          {
            "node": "Telegram - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ai-content"
    }
  ],
  "triggerCount": 4
}
